*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', monospace;

}
body{
    background: black;
    color: rgb(255, 255, 255);
}

.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

main p{
    padding: 10px 50px 0 50px;
}
.container-principal-contato{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-left: 300px;
    width: 100px;
}

.formaulario-contato label{
   
    margin: 0 0 0 20px;
    font-size: 25px;
   
}
.formaulario-contato input{
   
    margin: 5px;
    padding: 10px 25px;
    width: 100;
}


.botao-enviar{
    background-color: rgb(132, 132, 247) ;
}