*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', monospace;

}
body{
    background: black;
    color: rgb(255, 255, 255);
}

main{
    width: 940px;
    margin: 0 auto;
}


.formaulario-contato form{
    margin: 40px 0;
    
}

.formaulario-contato form label{
    display: block;
    font-size: 30px;
    margin: 10px;
}

.formaulario-contato form input{
    display: block;
    margin: 10px;
    width: 300px;
    height: 30px;
}