*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', monospace;
}

body{
    background: black;
   
}
.apresentacao{
    padding: 50px;
    margin-top: px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
}

/*Configuração Main*/

main{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 13%;
    color: rgba(255,255,255, .75);
}

/*estilizacao nome*/

.line{
    margin-top: 10px;
    font-size: 70px;
    color: rgba(255,255,255, .75);
    border-right: 2px solid rgba(255,255,255, .75) ;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animacao{
    animation: LinkCursor 500ms infinite normal, tempo 4s steps(25) 1s normal;
}

@keyframes tempo {
    from{ /*começa */
        width: 0;
    }
    to{  /*Para */
        width: 8em;
       } 
}

@keyframes LinkCursor{
   from{ /*começa */
    border-right-color: rgba(255,255,255, .75);
   }
   to{  /*Para */
    border-right-color: transparent;
   } 
}

/*Fim estilizacao nome*/


.container-apresentacao p{
   font-size: 20px;
}
.container-apresentacao h1:hover{
    cursor: pointer;
    color:rgb(132, 132, 247);
}

#banner-apresentacao img{
    max-width: 200px;
    
}
