*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', monospace;
}

body{
    background: black;
   
}
.apresentacao{
    padding: 50px;
    margin-top: px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
}
