*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', monospace;

}
body{
    background: black;
    color: rgb(255, 255, 255);
    
}

.titulo-princial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-size: 50px;
}

.titulo-princial:hover{
    cursor: pointer;
    color:rgb(132, 132, 247);
}

.conteiner-sobre-mim{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin: 0 auto;
    padding: 20px;
    width: 940px;
}
.conteiner-sobre-mim img{
    max-width: 250px;
}