*{
    margin: 0;
    padding: 0;
}


main{
   margin-bottom: 10px;
}
.cards{
     display: grid;
     gap: 5px;
     grid-template-columns: 1fr 1fr 1fr 1fr; 
     padding: 10px;
     align-items: center;
     justify-items: center;
    
}

section{
    display: grid;
    gap: 10px;
    border: 2px solid green;
    width: 95%;
}

.card-clicavel img{
    width: 100%;
}

.titulo-video{
    margin-left: 5px;
    margin-bottom: 10px;
}