*{
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    align-items: center;
    padding: 20px;
    
}

section{
    margin-top: 10px;
    width: 100%;
    height: 70vh;
}

section iframe{
    width: 100%;
    height: 70vh;
}
